NEXT_PUBLIC_SUPABASE_URL=https://supabase.com/dashboard/project/zefhvpifhzklkbkptjgv/settings/api-keys
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InplZmh2cGlmaHprbGtia3B0amd2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3MzY5MDAsImV4cCI6MjEwMDMxMjkwMH0.Q679zmC9Sq1OUTbEg88ZNfPE60M-gd3gODz8qyMmHtU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InplZmh2cGlmaHprbGtia3B0amd2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDczNjkwMCwiZXhwIjoyMTAwMzEyOTAwfQ.wbIqkObKknNIX3HAsq592gGbqi7id43UuGCWxyLYru8
